*{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,p{
color: #b4b5b8;
}
.container{
    margin: auto;
    text-align: center;
    border: 2px solid #f1f1f1;
    padding-bottom: 40px;
    margin-top: 20px;
    width: 90%;
}
.brand-logo{
    box-shadow:7px -2px 7px 7px #f1f1f1;
}
.logo{
    text-align: center;
    padding: 10px;
}
.sign-up{
    display: flex;
    flex-direction: column;
}
.input-details input{
    width: 40%;
    height: 40px;
    margin-top: 12px;
    border: 2px solid #b4b5b8;
}
.social{
    margin-bottom: 30px;
}
.social button{
    background-color: #fff;
    box-shadow:1px 7px 22px 6px  #f1f1f1;;
    border: 1px solid #fff;
    padding: 15px 35px;;
    margin-left: 3px;
    color: #b4b5b8;
}
hr{
    width: 38%;
}
.submit{
    width: 40%;
    height: 40px;
    color: #fff;
    background-color: #17b0e3;
    font-weight: bold;
    border:1px solid #17b0e3;
    box-shadow:2px 7px 12px 4px #c0c2c4;
}
a{
    text-decoration: none;
    color: #17b0e3;
}
@media (max-width:600px){
    .social button{
        margin-top:10px;
    }
}